# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc

# Python virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

